* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: ApriliaKupril;
    src: url(/Media/Fonts/ApriliaKupril-DYM0x.ttf);
}
@font-face {
    font-family: ApriliaKuprilItalic;
    src: url(/Media/Fonts/ApriliaKuprilItalic-pgq3v.ttf);
}
body{
            display: flex;
            flex-direction: column;
        }

.mainBody{
            background:#edffed;
            padding: 10px;
            height: 100%;
        }

.mianBody h3{
    text-align: center;
}

.skillsContainer{
            display: grid;
            align-items: stretch;
            flex-wrap: wrap;
            gap: 3rem;
            text-align: left;
            justify-content: space-evenly;
            grid-template-columns: 1fr 1fr 1fr;
        }

.skills{
            display: flex;
            text-decoration: none;
            border: 2px solid white;
            border-radius: 15px;
            background-color: white;
            text-align: center;
            flex-direction: column;
            justify-content: center;

        }

img{
    width: 475px;
    height: 200px;    
}

#js{
    grid-column: 2;
}

.head{
    width: 100%;
    height: 50px;
    color: white;
    background-color: #2e742f;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.head h1{
    font-family: ApriliaKupril;
}

a{
    text-decoration: none;
    color: white;
}



#foot{
    padding: 1rem 0;
    background-color: #2e742f;
    color: white;
    bottom: 0;
}
.mainBody{
    display: grid;
    grid-template-columns: 1fr 1fr; 
}

.card {
background-color: #2E742F;
border-left: 7px solid black;
color: white;
height: 400px;
margin: 20px auto;
min-height: 100px;
width: 50%;
border-radius: 8px;
padding: 20px;
text-align: center;
}
.card a img {
width: 100%;
margin: 10px auto;
border-radius: 10px;
}
.card h1 {
margin-bottom: 20px;
}
.card p a:link {
color: white;
}
.card p a:hover {
color: black;
}
.card p a:visited {
color: rgb(105, 105, 105);
}